<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
<link rel="stylesheet" href="../css/styles.css">
</head>

<body class="auth-bg">

<div class="auth-card">
    <h2>Login</h2>

    <div class="form-group">
        <label>Email</label>
        <input id="email" type="email">
    </div>

    <div class="form-group">
        <label>Password</label>
        <input id="password" type="password">
    </div>

    <button class="btn-primary" onclick="login()">Entrar</button>

    <p style="margin-top:10px;">
        ¿No tienes cuenta? <a href="register.html">Registro</a>
    </p>
</div>

<script>
const API_URL = "https://fifa-chat-dr6w.onrender.com";

async function login() {
    const email = document.getElementById("email").value;
    const password = document.getElementById("password").value;

    if (!email || !password) {
        alert("Llena todos los campos");
        return;
    }

    try {
        const res = await fetch(`${API_URL}/login`, {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify({ email, password })
        });

        const data = await res.json();

        if (res.ok) {
            sessionStorage.setItem("user_id", data.id);
            sessionStorage.setItem("userName", data.full_name);

            window.location.href = "index.html";
        } else {
            alert(data.error || "Login incorrecto");
        }

    } catch (err) {
        console.error(err);
        alert("Error de servidor");
    }
}
</script>

</body>
</html>